[submodule "labs/kane/codebase"]
	path = labs/kane/codebase
	url = https://github.com/kateleext/kane.git
[submodule "labs/hashi/codebase"]
	path = labs/hashi/codebase
	url = https://github.com/kateleext/hashi.git
[submodule "bespoke/elite-personal-chefs/00-quote-generator/codebase"]
	path = bespoke/elite-personal-chefs/00-quote-generator/codebase
	url = https://github.com/Elite-Personal-Chefs/epc-booking.git
[submodule "labs/progress-template/codebase"]
	path = labs/progress-template/codebase
	url = https://github.com/Takuma-AI/progress-management-template.git
[submodule "bespoke/shokuna/01-scouting-demand/demand-compass"]
	path = bespoke/shokuna/01-scouting-demand/demand-compass
	url = https://github.com/Takuma-AI/shokuna-demand-compass.git
[submodule "tools/mcp/openai-deep-research-mcp"]
	path = tools/mcp/openai-deep-research-mcp
	url = https://github.com/kateleext/openai-deep-research-mcp.git
[submodule "bespoke/elite-personal-chefs/01-chef-portal/epc-os"]
	path = bespoke/elite-personal-chefs/01-chef-portal/epc-os
	url = https://github.com/kateleext/epc-os.git
[submodule "tools/mcp/basecamp"]
	path = tools/mcp/basecamp
	url = https://github.com/Takuma-AI/basecamp-mcp.git
[submodule "tools/mcp/youtube-transcribe"]
	path = tools/mcp/youtube-transcribe
	url = https://github.com/Takuma-AI/yt-transcribe-mcp.git
[submodule "tools/mcp/pdf-generator"]
	path = tools/mcp/pdf-generator
	url = https://github.com/Takuma-AI/pdf-generator-mcp.git
[submodule "bespoke/elite-personal-chefs/01-chef-portal/epc-portal"]
	path = bespoke/elite-personal-chefs/01-chef-portal/epc-portal
	url = https://github.com/chefaustinyancey/epc-portal.git
[submodule "tools/mcp/perplexity-deep-research"]
	path = tools/mcp/perplexity-deep-research
	url = https://github.com/Takuma-AI/perplexity-deep-research-mcp.git
