[submodule "labs/archive/2025-09-02-kane/codebase"]
	path = labs/archive/2025-09-02-kane/codebase
	url = https://github.com/kateleext/kane.git
[submodule "labs/archive/2025-09-02-hashi/codebase"]
	path = labs/archive/2025-09-02-hashi/codebase
	url = https://github.com/kateleext/hashi.git
[submodule "bespoke/elite-personal-chefs/00-quote-generator/codebase"]
	path = bespoke/elite-personal-chefs/00-quote-generator/codebase
	url = https://github.com/Elite-Personal-Chefs/epc-booking.git
[submodule "labs/progress-template/codebase"]
	path = labs/progress-template/codebase
	url = https://github.com/Takuma-AI/progress-management-template.git
[submodule "bespoke/shokuna/01-scouting-demand/demand-compass"]
	path = bespoke/shokuna/01-scouting-demand/demand-compass
	url = https://github.com/Takuma-AI/shokuna-demand-compass.git
[submodule "bespoke/elite-personal-chefs/01-chef-portal/epc-os"]
	path = bespoke/elite-personal-chefs/01-chef-portal/epc-os
	url = https://github.com/kateleext/epc-os.git
[submodule "bespoke/elite-personal-chefs/01-chef-portal/epc-portal"]
	path = bespoke/elite-personal-chefs/01-chef-portal/epc-portal
	url = https://github.com/chefaustinyancey/epc-portal.git
[submodule "labs/phone-booth/codebase"]
	path = labs/phone-booth/codebase
	url = https://github.com/Takuma-AI/phone-booth.git
[submodule "tools/servers/basecamp"]
	path = tools/servers/basecamp
	url = https://github.com/Takuma-AI/basecamp-mcp.git
[submodule "tools/servers/pdf-generator"]
	path = tools/servers/pdf-generator
	url = https://github.com/Takuma-AI/pdf-generator-mcp.git
[submodule "tools/servers/perplexity-deep-research"]
	path = tools/servers/perplexity-deep-research
	url = https://github.com/Takuma-AI/perplexity-deep-research-mcp.git
[submodule "tools/servers/youtube-transcribe"]
	path = tools/servers/youtube-transcribe
	url = https://github.com/Takuma-AI/yt-transcribe-mcp.git
[submodule "kane/codebase"]
	path = kane/codebase
	url = https://github.com/Takuma-AI/kane-ios.git
[submodule "kane/server"]
	path = kane/server
	url = https://github.com/Takuma-AI/kane-server.git
[submodule "bespoke/exordi/tearsheet"]
	path = bespoke/exordi/tearsheet
	url = https://github.com/kateleext/bespoke-tearsheet.git
